<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_file.user %>
</p>

<p>
  <strong>File:</strong>
  <%= @user_file.file %>
</p>

<p>
  <strong>File status:</strong>
  <%= @user_file.file_status %>
</p>

<%= link_to 'Edit', edit_user_file_path(@user_file) %> |
<%= link_to 'Back', user_files_path %>
