<%= form_for(@file_status) do |f| %>
  <% if @file_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_status.errors.count, "error") %> prohibited this file_status from being saved:</h2>

      <ul>
      <% @file_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
